<div class="navbar">
<h1 class="brand_name">Wikinimous</h1>
<%= link_to "Create", new_article_path, class:"create_link" %>
</div>

<div class="container">
  <div class="row article_row">
    <div class="col-md-12 text-center">
      <% @articles.each do |article| %>
        <h1> <%= link_to article.title , article_path(article) %></h1>
        <hr>
      <% end %>
    </div>
  </div>
</div>
